<div class="container container-fluid" style="background-color:#ffffff;">
  <form class="form-inline">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/dashboard']"><span>Dashboard </span></a></li>
          <li><a><span>Deadlines And Tasks</span></a></li>
        </ol>
      </div>
      <div class="col-md-10 col-md-offset-1" style="margin-top:90px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" style="font-size:25px;"><strong>View Deadlines And Tasks</strong></h1></div>
          <div class="panel-body">
            <legend style="font-size:18px;"><strong>Below Is The List of Deadlines and Tasks I'm Involved</strong></legend>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Project Title</th>
                  <th>Task Title</th>
                  <th>Task Details</th>
                  <th>Task Deadline</th>


                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let task of taskInfo">
                  <td>{{task.projectTitle}}</td>
                  <td>{{task.taskTitle}} </td>
                  <td>{{task.taskDetails}}</td>
                  <td>{{task.taskDeadLine}} </td>


                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
