<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>
<div class="container">            <!---RouterOutlet marks the location to load the component of the active route.-->
  <flash-messages></flash-messages>

  <router-outlet></router-outlet>     <!--RouterOutlet used to render the route.It can display views produced by the router (The RouterOutlet is a directive from the router library that marks the spot in the template where the router should display the views for that outlet.)-->

</div>
<app-footer></app-footer>



